In [86]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [8]:
dataset =pd.read_csv('C:/Users/sys/Downloads/Simple_Linear_Regression_Sales_data.csv')

In [9]:
dataset.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9

In [51]:
dataset.describe()
dataset.TV.reshape(-1,1)

AttributeError: 'Series' object has no attribute 'reshape'

In [13]:
dataset.isnull() #there are no null values

        TV  Sales
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
195  False  False
196  False  False
197  False  False
198  False  False
199  False  False

[200 rows x 2 columns]

In [63]:
x=dataset.TV.values.reshape(-1,1)
y=dataset.Sales.values.reshape(-1,1)
x,y = x,dataset.Sales

In [78]:
x,y = x,y

In [79]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [80]:
regressor=LinearRegression()

In [81]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [89]:
predictions = regressor.predict(x_test)

In [91]:
predictions[0]

array([10.47623281])

In [92]:
y_test[0]

array([11.3])

In [95]:
r2_score(y_test,predictions)

0.6763151577939721

In [94]:
regressor.score(x,y)

0.6111966790715161