In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('C:/Users/sys/Downloads/Multiple_Linear_Regression_Advertising_data.csv')

In [3]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
data.notnull()

       TV  Radio  Newspaper  Sales
0    True   True       True   True
1    True   True       True   True
2    True   True       True   True
3    True   True       True   True
4    True   True       True   True
..    ...    ...        ...    ...
195  True   True       True   True
196  True   True       True   True
197  True   True       True   True
198  True   True       True   True
199  True   True       True   True

[200 rows x 4 columns]

In [8]:
df = pd.DataFrame(data)
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [9]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [12]:
x=df[['TV','Newspaper']]  #this is our two independent varaibles
y=df['Sales']

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [15]:
regressor=LinearRegression()

In [16]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
predictions = regressor.predict(x_test)

In [22]:
predictions[0]

15.991040154593545

In [28]:
y_test[0]

10.4

In [25]:
regressor.score(x,y)

0.6435306703134056